language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

env:
    - SYMFONY_VERSION=2.2.*
    - SYMFONY_VERSION=2.3.*
    - SYMFONY_VERSION=2.4.*
    - SYMFONY_VERSION=2.5.*

before_script:

    # Set the GitHub OAuth token to make use of the 6000 per hour rate limit
    - "mkdir -p ~/.composer"
    - cp .travis.composer.config.json ~/.composer/config.json
    - composer self-update
    - composer require symfony/framework-bundle:${SYMFONY_VERSION}
    - composer require symfony/templating:${SYMFONY_VERSION}
    - composer install --dev

notifications:
  email: vitiko@mail.ru
